    <table id="miTabla" class="tablasCMS">
            {{!-- <thead> --}}
              <tr>
                {{{columnas lugar}}}
              </tr>
            </thead>
            <tbody>
              {{#each prueba}}
                <tr id="blanco" id="activo" class="heading">
                <td>{{ID_ESCUELA}}</td>
                <td>{{NOMBRE}}</td>
                <td>{{NIVEL_EDUCATIVO}}</td>
                <td>{{FECHA_REGISTRO}}</td>
                <td>{{NOMBRE_COL}}</td>
                {{#if ACTIVO }}
                <td>Activo</td>
                {{else}}
                <td>Inactivo</td>
                {{/if}}
                <td><button class="btnCMS" onclick="eliminar({{ID_ESCUELA}})">Eliminar</button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>

<div class="pagination-container">

       <div class="pagination">
        {{#each paginas}}
        {{#if (eq @index 0)}}
        <button class="prev" onclick="paginador({{ant}})">Anterior</button>
        <ul>
        {{/if}}
        {{#if (eq act pag)}}
            <li class="active" onclick="paginador({{pag}})">{{pag}}</li>
        {{else}}
            <li onclick="paginador({{pag}})">{{pag}}</li>
        {{/if}}
        {{#if (eq ../paginas.length pag)}}
        </ul>
        <button class="next
        " onclick="paginador({{sig}})">Siguiente</button>
        {{/if}}
        {{/each}}
    </div>
</div>
        </div>
        </div>
</div>